<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <title>Electron test application</title>
  <link rel="stylesheet" href="app.css">
  <script type="text/javascript">
    var electron = require('electron');
    var shell = electron.shell;
  </script>
</head>
<body id="page-info">

  <main class="info-content">
    <h3 class="page-headline">Share Stream</h3>
    <p>
      Basic info page <a href="#"
          onClick="shell.openExternal('https://charlie-fstorey.rhcloud.com')">Click</a>
    </p>
  </main>

</body>
</html>
